/*
Common
*********************/

html,
body {
  max-height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.content {
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 10px;
}

.header img {
  width: 12%;
}

/*
Post
*************************/
.content form {
  width: 80%;
}
.icon {
  width: 15%;
}

.post_form {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.post_form input {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: #e6fef7;
}

.bottom {
  display: flex;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.bottom #file {
  background: none;
  margin: 0;
}

.bottom #tweet {
  background-color: rgb(29, 161, 242);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 20%;
  font-size: 16px;
  margin: 0;
}
.post_form img {
  width: 60px;
  margin-right: 12px;
}

/* now set the width for teaxarea */

.post_form textarea {
  width: 90%;
  padding: 10px;
  border: none;
}

.posts ul {
  padding: 0;
}

.posts li {
  position: relative;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 17px;
}

/* this is to change the option.png image size */
.posts li .menu_icon {
  width: 20px;
  position: absolute;
  right: 30px;
  top: 18px;
}
/* this is for the pop up box */
.posts li .menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 15px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}

/* deleting underline from link */
.posts li .menu a {
  text-decoration: none;
}

.posts li .logo {
  flex-basis: 15%;
}

.posts li .logo img {
  width: 60%;
}

.posts li .name_body {
  flex-basis: 85%;
}

.posts li .name_body .name {
  font-weight: bold;
}

.posts li .name_body .datetime {
  color: gray;
}

.buttons {
  display: flex;
}

.buttons #cancel {
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
}

.buttons #update {
  background-color: rgb(29, 161, 242);
  color: white;
  border-radius: 5px;
}

.like img {
  width: 25px;
}

.like a {
  text-decoration: none;
}
/* changing media  in mobile view*/

@media screen and (max-width: 500px) {
  .posts li .name_body .name {
    font-size: 20px;
  }
}
